*{
  margin: 0;
}


body {
  color: aliceblue;
  float: left;
  width: 190px;
  margin: 20px 16px;
  background-color: #171717;
}

h1 {
  color: rgb(84, 172, 250);
  font-size: 15px;
  margin-bottom: 14px;
}

p{
  font-size: 12px;
  margin: 0 0 10px 0;
}

a {
  color: rgb(117, 117, 117);
  text-decoration: none;
  float: right;
}